/* DEFAULT CSS */
body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.container{
	padding: 0 15px;
}
.inside-container{
	padding-top: 10px;
	padding-bottom: 10px;
}
h1, h2, h3, h4, h5, h6, p{
	margin: 0;
}
a{
	text-decoration: none;
	color: #000;
}
.text-center{
	text-align: center;
}
.hr{
	width: 45%;
}

/* CUSTOM STYLES */
.bad{
	text-decoration: line-through;
}

/* BACKGROUND COLOR CLASSES */
#bg-grey{
	background: #F7F7F7;
}
.red{
	color: red;
}

/* COLUMS CLASSES */
.col-1{
	width: 100%;
	position: relative;
	padding: 10px 0;
	display: inline-block;
}
.col-2{
	width: 50%;
	position: relative;
	padding: 0 15px;
	display: inline-block;
}
.col-3{
	width: 30%;
	position: relative;
	padding: 10px 15px;
	display: inline-block;
}
.col-4{
	width: 22.5%;
	position: relative;
	padding: 0 15px;
	display: inline-block;
}

/* IMAGE CLASSES */
.img {
	width: 100%;
}

/* BUTTONS */
.button{
	text-align: center;
	margin-top: 5px;
	display: block;
	border: 1px solid #800080;
	border-radius: 10px;
	text-decoration: none;
	z-index: 1;
}
.button-main{
	color: #fff;
	background: #800080; 
}
.button-main:hover{
	color: #000;
	background: #fff;
}
.button-other{
	color: #fff;
	background: #000; 
}
.button-other:hover{
	color: #000;
	background: #fff;
}
.button-lg{
	padding: 10px;
}

/* STANDARD NAVBAR */
nav{
	width: 100%;
	background: #800080;
	position: fixed;
	box-sizing: border-box;
}
nav h1{
	margin: 0;
	padding: 10px 10px;
	float: left;
}
nav h1 a{
	color: #DCDCDC;
	text-decoration: none;
	text-transform: uppercase;
}
nav ul{
	float: right;
	margin: 0;
	padding: 0;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 15px 20px;
}
nav ul li:hover{
	cursor: pointer;
}
nav ul li a{
	color: #DCDCDC;
	text-decoration: none;
}

/* RESPONSIVE NAVBAR */
.toggle{
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	display: none;
}
.toggle h2{
	margin: 0;
	padding: 0;
}
.toggle h2 a{
	text-decoration: none;
	color: #DCDCDC;
}
i{
	color: #DCDCDC;
	cursor: pointer;
}
.icons {
	float: right;
	padding-left: 10px;
}

/* HERO SECTION */
.hero-img{
	width: 100%;
	height: 500px; /* change height for responsivness to 400px*/
	background-image: url(../images/hero-img.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-top: 25px;
	margin: 0;
}
.hero-heading h1{
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px 0;
}
.hero-heading p{
	padding: 10px 0;
}
.hero-heading{
	width: 500px; /* change width for responsivness to 300px*/
	color: #fff;
	background: #800080;
	margin: 100px auto; /* change margin-top for responsivness to 75px*/
	padding: 50px; /* change padding for responsivness to 25px*/
	text-align: center;
	border: 2px solid #222;
	z-index: -1;
}

/* LINKS SECTION */
.box{
	background: #F7F7F7; 
	border: 1px solid #000;
}
.box-content{
	margin: 5px;
	padding: 30px;
	display: inline-block;
}
.box-inner{
	padding: 20px 0 0 0;
	float: left;
}
.box-right{
	padding-left: 10px;
	float: right;
	font-size: 40px;
}

/* FORM SECTION */
.background{
	background: #fafafa;
}
.article{
	margin: 0 auto;
	max-width: 800px;
}
.one{
	margin: 15px auto 0;
	background: #fff;
	max-width: 350px;
	border: 1px solid #efefef;
}
.heading{
	padding-top: 15px;
	margin-bottom: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 34px;
}
hr{
	width: 200px;
}
form{
	text-align: center;
	display: block;
}
.form-one{
	width: 100%;
	/*text-align: center;*/
}
.form-one input{
	background: #fafafa;
	width: 258px;
	margin: 5px auto;
	padding: 2px;
	border-radius: 2px;
	border: 1px solid #efefef;
	height: 36px;
}
.form-one input[type=submit]{
	background: #3897f0;
	border-color: #3897f0;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	height: 26px;
	width: 270px;
	margin: 5px auto;
	padding: 2px;
	border-radius: 3px;
}
.form-one input:focus{
	font-size: 16px;
}
.form-one-link{
	text-decoration: none;
	font-size: 12px;
	color: #000;
	display: inline-block;
	margin: 12px 0 20px;
}
.one-heading{
	font-size: 14px;
	color: #000;
	padding: 20px;
	text-align: center;
}
.one-heading a{
	color: #3897f0;
/* RESPONSIVE CSS FOR DEVICE LESS THAN 760px 
@media only screen and (max-width: 760px) {
    .brand{
    	display: none;
    }
    nav ul{
    	float: none;
    	display: none;
    	text-align: left;
    	border-bottom: 1px solid black;
    }
    nav ul li {
    	display: block;
    	border-width: 100px;
    }
    nav ul li:hover{
    	background: #BA55D3;
    }
    nav ul li:last-child{
    	border-bottom: none;
    }
    .toggle{
    	background: #800080;
    	display: block;
    	border-bottom: 1px solid black;
    }
    .standard{
    	display: none;
    }
    .hero-img{
    	height: 400px;
    }
    .hero-heading{
    	width: 300px;
    	margin: 75px auto;
    	padding: 25px;
    }
    .col-4{
		width: 45%;
	}
}

/* RESPONSIVE CSS FOR DEVICE LESS THAN 405px 
@media only screen and (max-width: 405px){
	.hero-img{
    	height: 300px;
    }
    .hero-heading{
    	width: 250px;
    	margin: 25px auto;
    	padding: 15px;
    }
    .col-4{
		width: 100%;
		text-align: center;
		margin: 0;
		padding: 0 0 10px 0;
	}
    #button{
    	display: none;
    }
}